<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body class="d-flex flex-column min-vh-100">
    <%- include("./partials/privateNavigation"); %>
    <div class="wrapper flex-grow-1 container my-2 col-md-6">
      <h1><i class="material-icons">local_florist</i> Create a Comment</h1>
      <% if (message !== "") { %>
      <p class="text-danger"><%= message %></p>
      <% } %>
      <form method="POST" id="myForm">
        <div class="form-group my-3">
          <textarea
            rows="5"
            class="form-control form-control-lg"
            id="text"
            name="text"
            placeholder="comment"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-success">Create Comment</button>
      </form>
    </div>
    <script>
      const template = (postname) => `/post/${postname}/comment`;

      document
        .getElementById("myForm")
        .addEventListener("submit", function (s) {
          s.preventDefault();
          this.action = template("<%= postname %>");
          this.submit();
        });
    </script>
    <%- include("./partials/footer"); %>
  </body>
</html>
