<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <%- include("./partials/publicNavigation"); %>
    <div class="container my-2">
      <h1>Welcome to Plant Care!</h1>
      <p>Users can chat with other plant lovers in our forum.</p>
      <% if (post !== null) { %>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Most Recent Post</h2>
        <h5 class="card-title"><%- post.title %></h5>
        <p class="card-text"><%= post.text %></p>
        <span class="card-subtitle mb-2 text-muted"
          >Author: <i><%= post.username %></i></span
        >&nbsp; &nbsp;
        <span class="card-subtitle mb-2 text-muted"
          >Date:
          <i
            ><%= new Intl.DateTimeFormat('en', { timeStyle: "short", dateStyle:
            "medium", timeZone: "America/Los_Angeles",
            }).format(post.createdDate) %></i
          >
        </span>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                Comments
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end my-2">
                  <a id="comment" href="/post/<%- post.name %>/comment" class="btn btn-outline-success btn-lg" role="button">New Comment</a>
                </div>
                <% post.comments.forEach(function(comment) { %>
                <p><%= comment.text %></p>
                <p>
                  <span>Author: <i><%= comment.username %></i></span>
                  &nbsp; &nbsp;
                  <span>
                    Date:
                    <i
                      ><%= new Intl.DateTimeFormat('en', { timeStyle: "short",
                      dateStyle: "medium", timeZone: "America/Los_Angeles",
                      }).format(comment.createdDate) %></i
                    >
                  </span>
                  <hr />
                  <% }); %> 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } else { %>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Most Recent Post</h2>
          <h5 class="card-title">There are no posts on the forum.</h5>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end my-2">
            <a href="/post" class="btn btn-outline-success btn-lg" role="button">New Post</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
    <script>
      document.getElementById("home").className += " active";
    </script>
    <%- include("./partials/footer"); %>
  </body>
</html>
