<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body class="d-flex flex-column min-vh-100">
    <%- include("./partials/privateNavigation"); %>
    <div class="wrapper flex-grow-1 container my-2 col-md-6">
      <h1><%= user.username %>'s Profile</h1>
      <form action="/profile" method="POST">
        <div class="form-group">
          <label for="bio">Bio (public): </label>
          <textarea
            rows="5"
            class="form-control form-control-lg"
            id="bio"
            name="bio"
            placeholder="Bio"
          >
<%= user.bio %></textarea
          >
        </div>
        <div class="form-group my-3">
          <label for="favoritePlant">Favorite Plant (public): </label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="favoritePlant"
            name="favoritePlant"
            placeholder="Favorite plant"
            value="<%= user.favoritePlant %>"
          />
        </div>
        <div class="form-group my-3">
          <label for="email">Email (private): </label>
          <input
            type="email"
            class="form-control form-control-lg"
            id="email"
            name="email"
            placeholder="email address"
            value="<%= user.email %>"
          />
        </div>
        <button type="submit" class="btn btn-success">Save Profile</button>
      </form>
    </div>
    <script>
      document.getElementById("profile").className += " active";
    </script>
    <%- include("./partials/footer"); %>
  </body>
</html>
